<div class="copyright">
  &copy; 2024 – 2026
  <span itemprop="copyrightYear">2026</span>
  <span class="with-love">
    <i class="fa fa-heart"></i>
  </span>
  <span class="author" itemprop="copyrightHolder">Golook</span>
</div>

<div class="footer-stats" style="margin-top:8px;">
  <span class="post-meta-item">
    <span class="post-meta-item-icon">
      <i class="fa fa-eye"></i>
    </span>
    <span class="site-total-views" title="全站总阅读量">
      <span id="site-total-views">-</span>
    </span>
  </span>
</div>