<div class="footer-stats" style="margin-top:8px;color:#999;font-size:13px;">
  <span id="busuanzi_container_site_uv">
    <i class="fa fa-user"></i>
    <span id="busuanzi_value_site_uv">-</span> 访客
  </span>
  ·
  <span id="busuanzi_container_site_pv">
    <i class="fa fa-eye"></i>
    <span id="busuanzi_value_site_pv">-</span> 次阅读
  </span>
</div>